{% extends "head.html" %}
{% block html %}

<body id="register-body">
    <script defer type=text/javascript src="{{url_for('static', filename='scripts/register.js') }}"></script>
    {% block content %}
    <p class="intro-text">{{ intro_text }}</p>
    {% endblock %}
    <div id="login">
        {% if error != '' %}
            <h1 class="server-error">
                {{ error }}
            </h1>
        {% endif %}
        <div id="login-column" class="register-form-text justify-content-center align-items-center row">
            <div id="login-box" class="register-form-text">
                <form name="register" id="register-form-text" class="form" action="" method="post"
                    onsubmit="event.preventDefault(); verifyForm()">
                    <div class="form-group">
                        <label for="name">Full name:</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Your name here">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Your email here">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <label for="address">Address line 1:</label>
                        <input type="address" name="address" id="address" class="form-control"
                            placeholder="1234 Sesame St, Tacoma WA">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <label for="address2">Address line 2 (if applicable):</label>
                        <input type="address" name="address2" id="address2" class="form-control"
                            placeholder="Apt A">
                    </div>
                    <div class="form-group">
                        <label for="cell">Phone number:</label>
                        <input type="text" name="cell" id="cell" class="form-control" placeholder="Your phone # here">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="removal-checkbox" name="Remove">
                        <label for="removal-checkbox">Check this box if you wish to no longer recieve food deliveries</label>
                    </div>
                    <div class="form-group">
                        <label for="instructions">If not, please enter any relevant information that needs to be updated:</label>
                        <textarea type="text" name="instructions" id="instructions" class="form-control"
                            placeholder="Special Instructions"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn bw-btn center-block blue-hover" type="submit">
                            Submit
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
</body>
{% endblock %}