{% extends "base.html" %}

{% block content %}
    <script defer type=text/javascript src="{{url_for('static', filename='scripts/changeinfo.js') }}"></script>
    <p id="logo-login"> Change Account Info</p>
    <div id="login">
        <div class="container">
            <div id="register-box" class="row justify-content-center align-items-center">
                <div id="login-column" class="register-form-text">
                    <div id="login-box" class="register-form-text">
                        <form id="register-form-text" class="form" action="" method="post">
                            <div class="form-group">
                                <label for="email">Email</label><br>
                                <input type="text" name="email" id="email" class="form-control"
                                    placeholder="{{ user['email'] }}">
                            </div>
                            <div class="form-group">
                                <label for="address">Home Address</label><br>
                                <input type="text" name="address" id="address" class="form-control"
                                    placeholder="{{ user['address'] }}">
                            </div>
                            <div class="form-group">
                                <label for="cell">Phone Number (Cell)</label><br>
                                <input type="text" name="cellPhone" id="cellPhone" class="form-control"
                                    placeholder="{{ user['cellPhone'] }}">
                            </div>
                            <div class="form-group">
                                <label for="cell">Phone Number (Landline, Optional)</label><br>
                                <input type="text" name="homePhone" id="homePhone" class="form-control"
                                    placeholder="{{ user['homePhone'] }}">
                            </div>
                            <div class="form-group">
                                <label for="cell">Special Instructions (Optional)</label><br>
                                <textarea type="text" name="instructions" id="instructions" class="form-control"
                                    placeholder="{{ user['instructions'] }}"></textarea>
                            </div>
                            {% if g.user.role=="ADMIN" %}
                            <h2>Admin tools</h2>
                            <label for="cell">Request page description</label><br>
                            <textarea type="text" name="requestPageDescription" id="requestPageDescription"
                                class="form-control" placeholder="{{ user['requestPageDescription'] }}"></textarea>

                            {% endif %}
                            <br>
                            <label for="cell">Add/remove available items</label>
                            <button class="add-remove-button" onclick="event.preventDefault(); addItem()"><b>+</b></button>
                            {% for i in range(items | length) %}
                            <div id="item-field-{{ i }}">
                                <div class="input-group">
                                    <input type="text" name="name{{ items[i] }}" id="name{{ items[i] }}" class="form-control width100" value="{{ items[i] }}"> 
                                    <span class="input-group-btn">
                                        <button class="add-remove-button" onclick="event.preventDefault(); removeItem({{i}})"><b>–</b></button>
                                    </span>
                                </div>
                                <br>
                            </div>
                            {% endfor %}
                            <div id="item-fields"></div>
                        
                            <div class="form-group">
                                <button type="submit" name="submit" class="btn bw-btn center-block blue-hover">Save
                                    Changes</button>
                            </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
{% endblock content %}