{% extends "head.html" %}
{% block html %}

<body id="register-body">
    <script defer type=text/javascript src="{{url_for('static', filename='scripts/register.js') }}"></script>
    {% block content %}
    <p class="intro-text">Welcome to</p>
    <h1 id="jumbomain">Minerva</h1>
    {% endblock %}
    <div id="login">
        {% if error != '' %}
            <h1 class="server-error">
                {{ error }}
            </h1>
        {% endif %}
        <div id="login-column" class="register-form-text justify-content-center align-items-center row">
            <div id="login-box" class="register-form-text">
                <form name="register" id="register-form-text" class="form" action="" method="post"
                    onsubmit="event.preventDefault(); verifyForm()">
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <label><b>Date of birth</b></label>
                        <input class="form-control-aesthetic" type="date" id="birthday" name="birthday"
                            placeholder="yyyy-mm-dd">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control"
                            placeholder="Password">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirm" id="confirm" class="form-control"
                            placeholder="Confirm Password">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <input type="address" name="address" id="address" class="form-control"
                            placeholder="Address Line 1">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <input type="address" name="address2" id="address2" class="form-control"
                            placeholder="Address Line 2 (Optional)">
                    </div>
                    <div class="form-group">
                        <input type="number" name="zipCode" id="zipCode" class="form-control" placeholder="Zip Code">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <input type="text" name="cell" id="cell" class="form-control" placeholder="Phone Number (Cell)">
                        <small>Error message</small>
                    </div>
                    <div class="form-group">
                        <input type="text" name="homePhone" id="homePhone" class="form-control"
                            placeholder="Landline (Optional)">
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="instructions" id="instructions" class="form-control"
                            placeholder="Special Instructions (Optional)"></textarea>
                    </div>
                    {% for restriction in dietaryRestrictions %}
                    <div class="custom-control custom-checkbox">
                        <input name="{{restriction}}" type="checkbox" class="custom-control-input" id="{{restriction}}">
                        <label class="custom-control-label" for="{{restriction}}">{{restriction}}</label>
                    </div>
                    {% endfor %}
                    <br>
                    <b>Members of your household</b>
                    <button class="add-remove-button" onclick="event.preventDefault(); addMember()">
                        +
                    </button>
                    <div id="household-members"></div>
                    You must list all names of people living in your household or you will not recieve food for them.
                    <div class="form-group">
                        <button class="btn bw-btn center-block blue-hover" type="submit">
                            Sign Up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="register-text">
        <p>Interested in becoming a volunteer? <a href="{{ url_for('auth.volunteerregister') }}">Create a volunteer
                account.</a></p>
    </div>
    <div class="register-text">
        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log in.</a></p>
    </div>
</body>
{% endblock %}