email_password
.vscode/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
src/__pycache__/
*.pyc
.vscode/settings.json
env/
.vs/
src/ERROR_LOG
src/LOG