.ya-display {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right:auto;
    width: 600px;
    height: 230px;
    border: 5px solid $secondaryClr;
    border-radius: 5px;
    background-color: $primaryClr;
}

.display-content {
    position:relative;
    margin-top:5%;
    margin-bottom:5%
}

#main-text {
    position:relative;
    text-align: center;
    top: 40px;
    font-family: var(--logo-font);
    font-size: 50px;
}

#ya-bull {
    position:relative;
    margin-top:5%;
    font-size:18px;
    margin-left:15%;
    margin-right: 15%;
    list-style-type: none;
    display: inline-block;
    word-break: break-word;
}


.buttons {
    position:relative;
    margin-top:1%;
    margin-left:15%;
    margin-right:15%
}

#btn_account {
    float:left;
    margin-right:3%;
}

#btn_password {
    float:left;  
}