@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

#navtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #37393a;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#Git {
  position: relative;
  color: #37393a;
  font-size: 25px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#Git:hover {
  color: white;
}

#navtext:hover {
  color: white;
}

#user-icon {
  font-size: 25px;
}

.navbar {
  min-height: 40px;
  background-color: #77b6ea;
}

#navbar-button {
  position: relative;
  background-color: #0ab45f;
  top: 3px;
  color: white;
  background-color: #37393a;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
}

#navbar-button:hover {
  color: #37393a;
  background-color: white;
}

#logo {
  font-family: var(--logo-font);
  color: #37393a;
  font-size: 40px;
  margin-top: -12.5px;
}

#login .container #login-row #login-column #login-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 300px;
  height: 270px;
  padding: 10px;
  border: 5px solid #a2c3a4;
  border-radius: 5px;
  background-color: #e5e5e5;
}

#logo-login {
  position: relative;
  font-family: var(--logo-font);
  font-size: 50px;
  text-align: center;
  top: 0px;
  text-decoration: none;
  color: #37393a;
}

#logged-in {
  position: relative;
  top: 7px;
  left: 8px;
  -webkit-columns: #37393a;
          columns: #37393a;
  font-size: 20px;
}

#register-form-text {
  width: 430px !important;
  padding: 20px;
}

#register-box {
  border: 5px solid #a2c3a4;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.form-control {
  background-color: #e5e5e5 !important;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.register-text {
  position: relative;
  top: 20px;
  height: 50px;
  width: 390px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-success {
  color: #37393a;
  background-color: #77b6ea !important;
  border-color: #37393a;
}

.completed {
  background-color: #0ab45f !important;
  color: #e5e5e5 !important;
}

.btn-success:hover {
  background-color: #a2c3a4 !important;
  color: #37393a;
  border-color: #37393a;
}

.ya-display {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 230px;
  border: 5px solid #a2c3a4;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.display-content {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

#main-text {
  position: relative;
  text-align: center;
  top: 40px;
  font-family: var(--logo-font);
  font-size: 50px;
}

#ya-bull {
  position: relative;
  margin-top: 5%;
  font-size: 18px;
  margin-left: 15%;
  margin-right: 15%;
  list-style-type: none;
  display: inline-block;
  word-break: break-word;
}

.buttons {
  position: relative;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
}

#btn_account {
  float: left;
  margin-right: 3%;
}

#btn_password {
  float: left;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  background-color: #e5e5e5;
  color: #37393a !important;
}

#jumbohome {
  background-color: var(--nav-color);
  height:650px;
  background-color: #77b6ea;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: calc(100vh - 74px);
  border-radius: 0px;
}

#jumbomain {
  display: inline;
  font-family: var(--logo-font);
  font-size: 8rem;
}

@media (max-width: 768px) {
  #jumbomain {
    font-size: 6rem;
  }
}

.big-boy-body {
  color: #37393a;
  font-size: x-large;
  margin-right: 0px;
}

.flash {
  color: #EE0000;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  color: #77b6ea;
  font-family: 'Lilita One', cursive;
}

.body-header {
  text-align: center !important;
}

.normal-body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Open Sans', sans-serif;
}

input {
  color: #37393a !important;
  background-color: #e5e5e5 !important;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 50px;
}

.text-info {
  color: #37393a !important;
}

#dropdown-email-text {
  cursor: default;
  pointer-events: none;
}

footer {
  background-color: #a2c3a4;
  color: #37393a;
  min-width: 300px;
  position: relative;
  text-align: center;
  padding: 40px;
  height: 100px;
  clear: both;
}

.dropdown-item:hover {
  background-color: #a2c3a4;
}

.btn-primary {
  background-color: #a2c3a4 !important;
  border: #a2c3a4 !important;
}
.btn-primary:hover {
  background-color: #77b6ea !important;
}
.bg-success {
  background-color: #a2c3a4 !important;
}

.bg-dark {
  background-color: #37393a !important;
}

.bg-primary {
  background-color: #77b6ea !important;
}

#scrolldown:hover {
  cursor: pointer;
  color: white;
}

#scrolldown {
  margin-top: 200px;
  display: inline-block;
  transition: 0.3s;
  color: #37393a;
  text-decoration: none;
  font-weight: 500;
}

#scrolldown span {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  border: 3px solid #37393a;
  background-color: #37393a;
  border-radius: 100%;
  box-sizing: border-box;
  -webkit-animation: sda 2s infinite;
  animation: sda 2s infinite;
}

#scrolldown span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 32px;
  height: 32px;
  margin: -22px 0 0 -16px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

@-webkit-keyframes sda {
  0% {
    -webkit-transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0px, 15px);
  }
  40% {
    -webkit-transform: translate(0, 0);
  }
}
@keyframes sda {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0px, 15px);
  }
  40% {
    transform: translate(0, 0);
  }
}

/*# sourceMappingURL=main.css.map */