<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- FontAwesome kit -->
    <script src="https://kit.fontawesome.com/34bfb9292d.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">

    {% if title %}
        <title>Minerva — {{ title }}</title>
    {% else %}
        <title>Minerva</title>
    {% endif %}

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar navbar-dark">
            <a class="navbar-brand" href="{{ url_for('home') }}" id="logo">Minerva</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" 
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('home') }}" id = "navtext"><strong>Home</strong></a>
                <a class="nav-item nav-link" href="{{ url_for('volunteer') }}" id = "navtext"><strong>Volunteer</strong></a>
                <a class="nav-item nav-link" href="{{ url_for('request_items.request_items') }}" id = "navtext"><strong>Request</strong></a>
                <a class="nav-item nav-link" href="#" id = "navtext"><strong>Donate</strong></a>
              </div>
              <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="https://github.com/jaredgoodman03/Minerva" style="font-size: 20px;"><i class="fab fa-github" id="Git"></i></a>
                {% if g.user %}
                    <div class="btn-group">
                        <a class="dropdown-toggle" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false" id="logged-in">
                            <i class="fas fa-user-circle"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item disabled" href="#">Logged in as {{g.user['email']}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign Out</a>
                            <a class="dropdown-item disabled" href="#">My Information</a>
                        </div>
                    </div>
                {% else %}
                    <button class="btn btn-outline-light bg-light my-2 my-sm-0" id="navbar-button" type="submit">
                    <a href="{{ url_for('auth.login') }}" style="text-decoration: none;" id="navtext"> Sign In 
                    <i class="fas fa-sign-in-alt"></i></a></button>
                {% endif %}
              </div>
            </div>
          </nav>
    </header>
    <div id = "container" class="normal-body">
        <div id = "main">
            {% block content %}
            {% endblock %}    
        </div>
    </div>

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</body>
</html>