<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Minerva</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Minerva</h1>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('request_items.request_items') }}">Request a donation</a></li>
        {% if g.user %}
            <li><span>Logged in as {{ g.user['email'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Sign out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Create an account</a></li>
            <li><a href="{{ url_for('auth.login') }}">Sign in</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>