{% extends "base.html" %}
{% block content %}

<div class="jumbotron" id="jumbohome">
    <h1 class="display-4" id="jumbomain">Minerva</h1><h1 class="display-4">Order Free Groceries</h1>
    <p class="lead">
        Minerva lets you order free groceries delivered straight to your door
        during the Coronavirus pandemic.
    </p>
    <div id="scrollcontainer">
        <a id="scrolldown" href="#faq"><span></span></a>
    </div>
</div>

<div class="normal-body" id="faq">
    <h2 class="body-header"> Frequently Asked Questions </h2>
    <p>
        <ul>
            <li> <b>Q:</b> Who is this for? </li>
            <li> <b>A:</b> Anyone in need of free food, people at risk for the Coronavirus who shouldn't go to the
                grocery store, and essential workers that don't have time to make grocery trips.</li> <br>

            <li> <b>Q:</b> How is this done in a safe manner?</li>
            <li> <b>A:</b> Only one volunteer goes to the grocery store, we minimize contact between volunteers, boxes
                of food are sprayed with alcohol, and food is dropped at your door without any human contact. </li> <br>

            <li> <b>Q:</b> How much food can I get?</li>
            <li> <b>A:</b> You can order once per week. Each item as a defined maximum, see the <a
                    href="/request_items">request page</a> for more information.</a></li>
        </ul>
    </p>
</div>
{% endblock content %}