{% extends "base.html" %}
{% block content %}
<center>
    <h2>Volunteer Settings</h2>
    {% for user in users %}
    <div class="card bg-primary text-left task-incomplete">
        <div class="card-header">
            {{ user['email'] }}
        </div>
        <table class="table table-striped">
            <tbody>
                {% for order in user.orders %}
                <tr>
                    <td style="border: none;">{{ order }}</td>
                    <td style="border: none;">
                        <form action="" method="POST"">
                            <button type="submit" value="reassign-{{ order }}" name="{{ user['id'] }}"
                                class="btn bw-btn">Reassign order</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="card-body">
            <form action="" method="POST">
                <button type="submit" value="remove" name="{{ user['id'] }}" class="btn bw-btn bg-danger">Remove
                    Volunteer</button>
            </form>
        </div>
    </div>
    <br>
    {% endfor %}
</center>

{% endblock content %}