{% block content %}
<html>

<body>
    <style>
        body,
        table {
            font-size: 30px;
            line-height: 50px;
        }

        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
            padding: 10px;
        }

        .shipping-label {
            border: 2px solid black;
        }

        .container {
            padding-left: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    </style>
    <br>
    {% for order in orders %}
    {% if not loop.last %}
    <div class="shipping-label" style="page-break-after: always;">
        {% else %}
        <div class="shipping-label">
            {% endif %}
            <div class="container">
                <div class="card-header">
                    <b>Order ID:</b> {{ orders[order]['id'] }}
                </div>
                <div class="card-header">
                    <b>Email:</b> {{ orders[order]['email'] }}
                </div>
                <div class="card-header">
                    <b>Home Address:</b> {{ orders[order]['address']}}
                </div>
                <div class="card-header">
                    <b>Cell phone number:</b> {{ orders[order]['cellPhone']}}
                </div>
                {% if orders[order]['instructions'] %}
                <div class="card-header">
                    <b>Special delivery instructions:</b> {{ orders[order]['instructions']}}
                </div>
                {% endif %}
                <div class="card-header">
                    {% if orders[order]['volunteerId'] != 'None' %}
                    <b>Assigned to:</b> {{ orders[order]['volunteerName'] }}
                    {% endif %}
                </div>
                <hr>
                <table>
                    {% for item in orders[order]['itemsDict'] %}
                    {% if orders[order]['itemsDict'][item] != '0' %}
                    <tr>
                        <td><b>{{ item }}</b></td>
                        <td>{{ orders[order]['itemsDict'][item] }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
            <img src="data:;base64,{{ barcode_to_base64(orders[order]['id']) }}" />
        </div>
        {% endfor %}
</body>

</html>
{% endblock content %}