{% extends "base.html" %}
{% block content %}
<center>
    <h2>All orders</h2>
    <br>
    {% for order in orders %}
    {% if orders[order]['bagged']=='1' and orders[order]['volunteerEmail'] %}
    <div class="card bg-success text-left task-incomplete">
        {% else %}
        <div class="card text-left task-incomplete">
            {% endif %}
            <div class="card-header">
                {{ orders[order]['email'] }}
            </div>
            <div class="card-header">
                {{ orders[order]['address']}}
            </div>
            <div class="card-header">
                {{ orders[order]['cellPhone']}}
            </div>
            <div class="card-header">
                {% if orders[order]['volunteerId'] %}
                Assigned to {{ orders[order]['volunteerEmail'] }}
                {% else %}
                <button class="btn dropdown-toggle bw-btn" type="button" id="dropdown-{{orders[order]['id']}}"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[choose volunteer]</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for volunteer in volunteers %}
                    <a class="dropdown-item" href="/allorders?volunteer={{ volunteer['id'] }}&order={{ orders[order]['id'] }}">
                        {{ volunteer['email'] }} ({{ volunteer['numOrders'] }})
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <table class="table table-striped">
                <tbody>
                    {% for item in items %}
                    {% if orders[order]['itemsDict'][item] != '0' %}
                    <tr>
                        <td style="border: none;">{{ item }}</td>
                        <td style="border: none;">{{ orders[order]['itemsDict'][item] }} </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% if orders[order]['bagged']=='0' %}
            <div class="card-body">
                <form action="" method="POST">
                    <button type="submit" value="Mark as completed" name="{{ orders[order]['id'] }}"
                        class="btn bw-btn">Mark As Complete</button>
                </form>
            </div>
            {% endif %}
        </div>
        <br>
        {% endfor %}
</center>
{% endblock content %}