{% extends "base.html" %}
{% block content %}
<style type="text/css">
    iframe {
        display: block;
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: none;
    }
</style>
<script>
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    }
</script>
<br>

<iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSd-2jelr_uMDGb8u6gDKdwYiuiXxwQzcC5eU8Y6k-GjienVhQ/viewform?embedded=true"
    width="650" height="800" onload="resizeIframe(this)" marginheight="0" marginwidth="0" seamless>Loading…</iframe>
{% endblock content %}