{% extends "base.html" %}
{% block content %}
    <style type="text/css">
        body {margin:0; overflow: hidden;}
        iframe {
            display:block;
            position:relative;
            margin-top: 40px;
            margin-left:auto;
            margin-right:auto;
            text-align: center;
            border: none;
        }
    </style>

    <br>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd-2jelr_uMDGb8u6gDKdwYiuiXxwQzcC5eU8Y6k-GjienVhQ/viewform?embedded=true" 
    width="650" height="1000"  frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
{% endblock content %}
