{% extends "base.html" %}
{% block content %}

    <h1 id= "main-text"> Your Account </h1>
    <div class="ya-display">
            <div class = "display-text">
                <ul id = "ya-bull">
                    {% for attribute in attributes.keys() if user[attribute] %}
                    <li>
                        <strong>{{ attributes[attribute][0]|upper }}{{ attributes[attribute][1:] }}: </strong>
                            {{ user[attribute]}}
                    </li>
                    {% endfor %}
                </ul>
            </div>

        <div class = "buttons">
            <form action="/changeinfo">
                <button type="submit" class="btn bw-btn-np blue-hover" id = "btn_account" >Change account info</button>
            </form>
            <form action="/changepass">
                <button type="submit" class="btn bw-btn-np blue-hover" id = "btn_password">Change your password</button>
            </form>
        </div>
    </div>
{% endblock content %}