{% extends "head.html" %}
{% block html %}

<body style="margin-top: 50px;">
    {% block content %}
    <p class="intro-text">Sign in to</p>
    <h1 id="jumbomain">Minerva</h1>
    {% endblock %}
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control"
                                    placeholder="Password">
                            </div>
                            <div class="form-group">
                                <button type="submit" name="submit" class="btn bw-btn center-block blue-hover">Sign
                                    in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="register-text">
        <p>New to Minerva? <a href="{{ url_for('auth.register') }}">Create an account.</a></p>
    </div>
</body>
{% endblock %}