{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create an Account{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <ul>
      <li><label for="email">Your email address</label></li>
      <li><input name="email" id="email" required></li>
      <li><label for="address">Your home address</label></li>
      <li><input name="address" id="address" required></li>
      <li><label for="phone">Phone number (cell)<label></li>
      <li><input name="cell phone" id="cell phone" required></li>
      <li><label for="landline">Phone number (landline, optional)</label></li>
      <li><input name="home phone" id="home phone"></li>
      <li><label for="instructions">Special delivery instructions (optional)</label></li>
      <li><input name="instructions" id="instructions"></li>
      <li><label for="password">Password</label></li>
      <li><input type="password" name="password" id="password" required></li>
      <li><input type="submit" value="Create an Account"></li>
    </ul>
  </form>
{% endblock %}