<!doctype html>
    <html lang="en">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body style="margin-top: 50px;">
    {% block content %}
        <p id = "logo-login">Create an account</p>
    {% endblock %}
        <div id="login">
            <div class="container">
                <div id="register-box" class="row justify-content-center align-items-center">
                    <div id="login-column" class="register-form-text">
                        <div id="login-box" class="register-form-text">
                            <form id="register-form-text" class="form" action="" method="post">
                                <div class="form-group">
                                    <label for="email" class="text-info">Email</label><br>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password</label><br>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Confirm Password</label><br>
                                    <input type="password" name="confirm" id="confirm" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="address" class="text-info">Home Address</label><br>
                                    <input type="text" name="address" id="address" class="form-control" 
                                    placeholder = "Example: 1234 Elm Street, Kirkland, WA 98083 ">
                                </div>
                                <div class="form-group">
                                    <label for="zip" class="text-info" id="zip">Zip Code</label>
                                    <input type="number" name="zipCode" id="zipCode" class="form-control"></label>
                                <div class="form-group">
                                    <label for="cell" class="text-info">Phone Number (Cell)</label><br>
                                    <input type="text" name="cell" id="cell" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="cell" class="text-info">Phone Number (Landline, Optional)</label><br>
                                    <input type="text" name="homePhone" id="homePhone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="cell" class="text-info">Special Instructions (Optional)</label><br>
                                    <textarea type="text" name="instructions" id="instructions" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-success btn-md btn-block" value="Sign Up">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        <div class="register-text">
        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log in.</a></p>
        </div>
    </body>
</html>