@-webkit-keyframes sda {
  0%,40% {
      -webkit-transform: translate(0,0)
  }

  20% {
      -webkit-transform: translate(0,15px)
  }
}

.menu-button {
  margin-bottom: 10px;
}
@keyframes sda {
  0%,40% {
      transform: translate(0,0)
  }

  20% {
      transform: translate(0,15px)
  }
}

#Git,#navtext {
  color: #37393a;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s
}

#navtext {
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  text-decoration: none
}

#Git {
  position: relative
}

#Git:hover,#navtext:hover {
  color: #fff
}

#Git,#user-icon {
  font-size: 25px
}

.navbar {
  min-height: 40px;
  background-color: #77b6ea
}

.bw-btn {
  top: 3px;
  color: #fff;
  background-color: #37393a;
  padding-left: 20px;
  padding-right: 20px;
  transition: .3s
}

.bw-btn,.bw-btn-np,h4 {
  font-weight: 600
}

.bw-btn-np {
  color: #fff;
  background-color: #37393a;
  transition: .3s
}

.center-block {
  display: block;
  margin: auto
}

.bw-btn:hover {
  color: #37393a;
  background-color: #fff
}

.blue-hover:hover {
  color: #fff;
  background-color: #77b6ea
}

#logo,#logo-login {
  font-family: var(--logo-font);
  color: #37393a
}

#logo {
  font-size: 40px;
  margin-top: -12.5px
}

#logo-login {
  position: relative;
  font-size: 50px;
  text-align: center;
  top: 0;
  text-decoration: none
}

#logged-in {
  position: relative;
  top: 7px;
  left: 8px;
  -webkit-columns: #37393a;
  columns: #37393a;
  font-size: 20px
}

#register-box {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px
}

.form-inline .form-group {
  width: 100%;
}

.form-control-aesthetic {
  background-color: #f0f2f5;
  border: 0;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.form-control {
  background-color: #f0f2f5;
  border: 0;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control:focus {
  background-color: #f0f2f5;
}

#main-text,.register-text {
  text-align: center
}

.btn-success,.btn-success:hover {
  color: #37393a;
  background-color: #77b6ea;
  border-color: #37393a
}

.ya-display {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px
}

.display-content {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%
}

#main-text {
  position: relative;
  top: 40px;
  font-family: var(--logo-font);
  font-size: 50px
}

#ya-bull,.buttons {
  position: relative;
  margin-left: 15%;
  margin-right: 15%
}

#ya-bull {
  margin-top: 5%;
  font-size: 18px;
  list-style-type: none;
  display: inline-block;
  word-break: break-word
}

.buttons {
  margin-top: 1%
}

#btn_account {
  float: left;
  margin-right: 3%
}

#btn_password {
  float: left
}

* {
  margin: 0;
  padding: 0
}

body,html {
  height: 100%;
  color: #37393a;
}

#jumbohome {
  background-color: var(--nav-color);
  height: 650px;
  background-color: #77b6ea;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: max(calc(100vh - 74px), 400px);
  border-radius: 0
}

#jumbomain {
  text-align: center;
  font-family: var(--logo-font);
  font-size: 8rem
}

@media (max-width:768px) {
  #jumbomain {
      font-size: 6rem
  }
}

.big-boy-body {
  color: #37393a;
  font-size: x-large;
  margin-right: 0
}

.flash,footer {
  color: #e00;
  text-align: center
}

h4 {
  font-size: 24px
}

#faq p {
  font-size: 20px;
  color: #5b6061
}

.body-header {
  text-align: center;
  font-size: 3.5rem
}

.normal-body {
  margin-left: 25%;
  margin-right: 25%;
  font-family: 'Open Sans',sans-serif;
  transition: .4s
}

.task-complete,.task-incomplete {
  max-width: 500px
}

@media only screen and (max-width:700px) {
  .normal-body,.task-complete,.task-incomplete {
      margin-left: 10%;
      margin-right: 10%
  }
}

#main {
  overflow: auto;
}

#dropdown-email-text {
  cursor: default;
  pointer-events: none
}

footer {
  background-color: #a2c3a4;
  color: #37393a;
  min-width: 300px;
  position: relative;
  padding: 40px;
  height: 100px;
  clear: both
}

.dropdown-item:hover {
  background-color: #a2c3a4;
  color: #fff
}

a:not([href]):not([tabindex]):hover {
  color: #fff;
  cursor: pointer
}

.task-complete {
  border: none;
}

#scrolldown:hover {
  cursor: pointer;
  color: #fff
}

#scrolldown {
  margin-top: 200px;
  display: inline-block;
  transition: .3s;
  color: #37393a;
  text-decoration: none;
  font-weight: 500
}

#scrolldown span,#scrolldown span::after {
  position: absolute;
  left: 50%;
  box-sizing: border-box
}

#scrolldown span {
  bottom: 100px;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  border: 3px solid #37393a;
  background-color: #37393a;
  border-radius: 100%;
  -webkit-animation: sda 2s infinite;
  animation: sda 2s infinite;
  transition: .4s
}

@media only screen and (max-height:580px) {
  #scrolldown span {
      bottom: calc(50px - 5vh)
  }
}

@media only screen and (max-height:524px) {
  #scrolldown span {
      display: none
  }
}

#scrolldown span::after {
  top: 50%;
  content: '';
  width: 32px;
  height: 32px;
  margin: -22px 0 0 -16px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.intro-text {
  text-align: center;
  font-size: 24px;
  margin-bottom: -24px;
  font-weight: 600
}

@media (max-width:380px) {
  #jumbomain {
      font-size: 4rem
  }

  #jumbosubtext {
      font-size: 2.5rem
  }

  #lead {
      font-size: 1.5rem
  }

  .body-header {
      font-size: 40px
  }

  h4 {
      font-size: 16px
  }

  #faq p {
      font-size: 14px
  }

  .intro-text {
      font-size: 20px;
      margin-bottom: 0
  }
}

#register-form-text {
  width: min(75vw,700px);
  padding: 20px
}

#register-body {
  padding-top: 50px;
  background-color: #fff;
  overflow-x: hidden
}

#zipcode-input {
  max-width: 600px;
  margin-top: 5px;
  margin-bottom: 10px
}

#date-picker {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin: 12px auto 12px auto;
  pointer-events: none;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  border: none;
  background-color: #77b6ea;
  overflow: visible;
  width: 100%;
  /* margin-bottom: 12px; */
}

.row .card {
  background-color: white;
}

.card .form-group {
  margin-bottom: 0;
}

.grid-card {
  margin: 1%;
}

.card-container {
  flex-direction: row;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card.item {
  margin-bottom: 2em;
}

.disabled {
  pointer-events: none;
}

.bg-primary {
  background-color: #77b6ea !important;
}

.card-header span {
  position: absolute;
  right: 24px;
}

.card-header:last-child {
  border-bottom: none;
}

.card-body {
  padding-top: 0.5em;
  padding-bottom: 0.5rem;
}

.center-vertical {
  line-height: 45px;
  display: inline;
}

.float-right .form-control {
  max-width: 60px;
}

h2 {
  margin-top: 12px;
}

.form-group small {
  color: #e74c3c;
  display: none;
}

.form-control.error {
  border: 2px solid #e74c3c;
}

.server-error {
  color: #e74c3c;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.spacer {
  height: 24px;
}

.add-remove-button {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: rgb(40, 40, 40);
  background-color: white;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px;
  margin-bottom: 24px;
}