{% extends "base.html" %}
{% block content %}
<center style="min-height: 500px;">
    <h2>Volunteer Dashboard</h2>
    <div class="spacer"></div>
    <a href="/dashboard?claimRoute=1" name="claim-route" class="btn bw-btn blue-hover">Claim the next route</a>
    <div class="spacer"></div>
    <a href="/driver_printout" target="_blank" name="driver_printout" class="btn bw-btn blue-hover">Generate Driver Printout</a>
    <div class="spacer"></div>
    <a href="{{ google_maps }}">Click to open Google Maps for an optimized route</a>
    <div class="spacer"></div>
    {% for user in users %}
    {% if user['doneToday'] %}
        <div class="card text-left task-incomplete item bg-success" filter="{{ user['date']}}">
    {% else %}
        <div class="card text-left task-incomplete item" filter="{{ user['date']}}">
    {% endif %}
        <div class="card-header">
            <b>Name:</b> {{ user['name'] }}
        </div>
        <div class="card-header">
            <b>Email: </b>{{ user['email'] }}
        </div>
        <div class="card-header">
            <b>Address: </b>{{ user['address']}}
        </div>
        <div class="card-header">
            <b>Cell phone: </b>{{ user['cellPhone']}}
        </div>
        <div class="card-header">
            <b>Last delivered: </b>{{ user['lastDelivered']|datetime}}
        </div>
        <div class="card-body">
            <form action="" method="POST">
                <button type="submit" value="Mark as completed" name="{{ user['id'] }}" class="btn bw-btn">Mark
                    As Complete</button>
            </form>
        </div>
    </div>
    {% endfor %}
</center>
{% endblock %}