{% extends "base.html" %}
{% block content %}

<div id="jumbohome">
    <h1 class="display-4" id="jumbomain">Minerva</h1>
    <h1 class="display-4" id="jumbosubtext">Food delivery planning</h1>
    <p class="lead">
        Minerva is a website that allows for food banks to plan routes easily.
    </p>
    <a id="scrolldown" href="#faq"><span></span></a>
</div>

<div class="normal-body" id="faq">
    <h2 class="body-header"> Frequently Asked Questions </h2>
    <br>
    <h4>
        What is this?
    </h4>
    <p>
    	Minerva is a service that allows Food Banks to manage deliveries easily. It generates fast routes for volunteers and manages users.
    </p>
</div>
{% endblock content %}
