{% extends "base.html" %}
{% block content %}
<center>
    <h2>Generating new routes, please wait...</h2>
    <div class="spacer"></div>
    <img src="/static/loading-1.gif">
    <div class="spacer"></div>
    Please do not exit or refresh this page. This may take a few minutes.
    <form method='POST' action='routes' id="form" name="generate-routes">
        <input type="hidden" name="num-vehicles" value="{{ num_vehicles }}">
        <input type="hidden" name="global_span_cost" value="{{ global_span_cost }}">
        <input type="hidden" name="stop_conversion" value="{{ stop_conversion }}">
        <input type="hidden" name="solution-limit" value="{{ solutionLimit }}">
        <input type="hidden" name="separateCities" value="{{ separateCities }}">
    </form>
    <script>
        var url = 'http://{{ host }}/generate_new_routes?num_vehicles={{ num_vehicles }}&global_span_cost={{ global_span_cost }}&stop_conversion={{ stop_conversion }}&solution_limit={{ solution_limit }}&separate_cities={{ separate_cities }}'

        fetch(url).then(result => {
            window.location = window.location.href;
        })

    </script>
</center>
{% endblock content %}