{% extends "base.html" %}
{% block content %}
<center>
    <script defer type=text/javascript src="{{url_for('static', filename='scripts/filter.js') }}"></script>
    <h2>Volunteer Settings</h2>
    <small><a href="https://jaredgoodman03.github.io/Minerva-docs/admin-instructions#driver-management" target="_blank">Click to view instructions</a></small>
    <div class="spacer"></div>
    <button class="btn dropdown-toggle bw-btn blue-hover" type="button" id="unassigned-dropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">[add new volunteer]</button>
    <div class="spacer"></div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for volunteer in unassigned %}
        <a class="dropdown-item" href="/modify?assign={{ volunteer['name'] }}">
            {{ volunteer['name'] }}
        </a>
        {% endfor %}
    </div>
    <div class="card-container">
    {% for volunteer in volunteers %}
    <div class="card grid-card text-left task-incomplete bg-primary item">
        <div class="card-header">
            {{ volunteer['name'] }} ({{ volunteer['email'] }})
        </div>
        <div class="card-header">
            <a class="btn bw-btn" data-toggle="collapse" href="#collapse-volunteer-{{ volunteer['id'] }}" role="button"
                aria-expanded="false" aria-controls="collapse-volunteer-{{ volunteer['id'] }}">
                {% if volunteer['userList']|length==1 %}
                Show 1 stop
                {% else %}
                Show {{ volunteer['userList']|length }} stops
                {% endif %}
            </a>
        </div>
        <div id="collapse-volunteer-{{ volunteer['id'] }}" class="collapse">
            <div id="accordion-{{ volunteer['id'] }}">
                <tbody>
                    {% for client in volunteer['userList'] %}
                    <div class="card bg-light" id="client-header-{{ client['id'] }}">
                        <button class="btn btn-link" data-toggle="collapse"
                            data-target="#collapse-client-{{ client['id'] }}" role="button"
                            aria-controls="collapse-{{ client['id'] }}">
                            {{ client['address'] }}
                        </button>
                        <div id="collapse-client-{{ client['id'] }}" class="collapse"
                            aria-labelledby="client-header-{{ client['id'] }}" data-parent="accordion-{{ volunteer['id'] }}">
                            <table>
                                <tr>
                                    <th>
                                        Name:
                                    </th>
                                    <th>
                                        {{ client['name'] }}
                                    </th>
                                <tr>
                                    <th>
                                        Email:
                                    </th>
                                    <th>
                                        {{ client['email'] }}
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Cell Phone:
                                    </th>
                                    <th>
                                        {{ client['cellPhone'] }}
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Last delivered:
                                    </th>
                                    <th>
                                        {{ client['lastDelivered'] }}
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Notes:
                                    </th>
                                    <th>
                                        {{ client['instructions'] }}
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </div>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                <button type="submit" value="remove" name="remove-{{ volunteer['id'] }}" class="btn bw-btn bg-danger">Remove
                    Volunteer</button>
            </form>
        </div>
    </div>
    </div>
    <br>
    {% endfor %}
</center>

{% endblock content %}
