{% extends 'base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/request.css') }}">
<script defer type=text/javascript src="{{url_for('static', filename='scripts/filter.js') }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="jumbotron">
  <div class="container">
    <h1 class="text-center">Welcome!</h1>
    <div class="big-boy-body">
      You can request items by selecting a quantity and pressing submit at the bottom of the page. You may only order a
      maximum of 1 meat product and a maximum of 2 for all other items. After ordering expect around a week for goods to
      arrive.
    </div>
    <!-- <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" onclick="updateFilter('')">Reset Filter</a>
        {% for category in categories %}
        <a class="dropdown-item" onclick="updateFilter('{{category}}')">{{category[0]|upper}}{{category[1:]}}</a>
        {% endfor %}
      </div>
    </div> -->
  </div>
</section>

<h1>{{category}}</h1>
<div class="album py-5 bg-light">
  <div class="container">
    <form id="request-form" action="" method="post">
      <div class="row">
        <div class="col-md">
          {% for i in range(((items | length) / 2) | int) %}
          <div class="item card mb-4 shadow-sm card-body">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="{{items[i].name}}" value="{{items[i].name}}">
              <label class="custom-control-label" for="{{items[i].name}}"><b>{{items[i].name}}</b></label>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col-md">
          {% for i in range(((items | length) / 2) | int, (items | length)) %}
          <div class="item card mb-4 shadow-sm card-body">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="{{items[i].name}}" value="{{items[i].name}}">
              <label class="custom-control-label" for="{{items[i].name}}"><b>{{items[i].name}}</b></label>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- <div class="text-center">
        <b>Select your prefered delivery date.</b>
        <input id="date-picker" name="date" type="text" required></input>
      </div>
      <div class="spacer"></div> -->
      <div class="w-100">
        <button type="submit" name="submit" class="btn bw-btn blue-hover center-block"
          id="submit-button">Submit</button>
      </div>
    </form>
  </div>
</div>


<!-- <script>
  var dates = {{ dates | tojson }};

  for (let index = 0; index < dates.length; index++) {
    let d = new Date(dates[index]);
    dates[index] = d.setDate(d.getDate() + 1);
  }

  var picker = new Litepicker({
    element: document.getElementById('date-picker'),
    lockDays: dates,
    onRender: function (calendar) {
      let days = calendar.querySelectorAll(".day-item");
      for (let i = 0; i < days.length; i++) {
        if (days[i].classList.contains('is-locked')) {
          days[i].classList.remove('is-locked');
        } else {
          days[i].classList.add('is-locked');
        }
      }
    },
    inlineMode: true,
  });
</script> -->

{% endblock %}