{% extends "base.html" %}
{% block content %}
<center>
    <h2>Routes</h2>
    <br>
    <a href="/allorders?assignall=1" name="assign-all" class="btn bw-btn blue-hover">Generate new routes for this week</a>
    <div class="spacer"> </div>
    {% for route in routes %}
    <div class="card bg-success text-left task-incomplete">
        <div class="card text-left task-incomplete">
            <div class="card-header">
                Route ID: {{ route['id'] }}
            </div>
            <div class="card-body">
                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://map.project-osrm.org/?z=13&center=47.656311%2C-122.129345&loc=47.694660%2C-122.070479&loc=47.634460%2C-122.162001&loc=47.672529%2C-122.091444&hl=en&alt=0&srv=0" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=13/47.7753/-122.1599">View Larger Map</a></small>
            </div>
        </div>
        <br>
    </div>
    <div class="spacer"> </div>
    {% endfor %}
</center>
{% endblock content %}