{% extends "base.html" %}
{% block content %}
<script>
    function explainScore(){
        var message = "The score is calculated through the amount of time it has been " +
            "since each stop on the route has been last delivered. The higher the score, " +
            "the sooner this route should be done. When a volunteer claims the next route, they're " +
            "given the route with the highest score."
        window.alert(message)
    }
</script>
<center>
    <h2>Routes</h2>
    <br>
    <a href="/allorders?assignall=1" name="assign-all" class="btn bw-btn blue-hover">Generate new routes for this week</a>
    <div class="spacer"> </div>
    {% for route in routes %}
    <div class="card bg-success text-left task-incomplete">
        <div class="card text-left task-incomplete">
            <div class="card-header">
                Route ID: {{ route['id'] }}
            </div>
            <div class="card-header">
                Length: {{ route['parsedContent']|length - 2 }} stops
            </div>
            <div class="card-header">
                Score: {{ route['weightedScore'] }} <small><a href="javascript:explainScore();">What's this?</a></small>
            </div>
            <div class="card-header">
                <a href="{{ route['google_maps'] }}">View Map</a>
            </div>
        </div>
        <br>
    </div>
    <div class="spacer"> </div>
    {% endfor %}
</center>
{% endblock content %}