{% extends "base.html" %} {% block content %}
<script>
  function explainScore() {
    var message =
      "The priority is calculated by the amount of time it has been " +
      "since each stop on the route has been last delivered. " +
      "The higher the priority, the more urgent this route is. When a volunteer claims the next route, they're " +
      "given the route with the highest priority.";
    window.alert(message);
  }

  function explainLength() {
    var message =
      "The length of each route is estimated by the geographic coordinates of each address, " +
      "ignoring any roads, highways, or speeed limits. This significantly cuts down on " +
      "computation time, while still being a good enough strategy to find routes. It also " +
      "saves money that would be sent to Google Maps, as it would cost about $3 to add each" +
      "new client."
    window.alert(message);

  }

  function explainGSC() {
    var message =
      "Increasing the Global Span Cost creates shorter routes. It also creates more routes. " +
      "If you increase the Global Span Cost and it's taking a lot of time to calculate, increase " +
      "the maximum number of routes."
    window.alert(message);
  }

  function explainStopConversion() {
    var message =
      "Increase this number if it takes volunteers a long time to park their car, get out, and deliver."
    window.alert(message);
  }

  function explainMaxRoutes() {
    var message =
      "Usually, the routing algorithm creates many empty routes that it deletes later. " +
      "Increase this number if you also increase the global span cost."
    window.alert(message);
  }

  function explainSolutionLimit() {
    var message =
      "The smaller you set this, the worse the routes will be (but it will run faster). If you just want to check that it's solvable, set this to 1."
    window.alert(message);
  }

  function explainSeparateCities() {
    var message =
      "This will split up the list of clients by city, create routes for them, and then combine them. Cities that have less than 5 people will be merged into the city with the most people."
    window.alert(message);
  }
</script>

<style>
  .collapse-container {
    display: flex;
    justify-content: center;
  }

  .collapse-container > div:not(:first-child) {
    margin-left: 24px;
  }

  .inline {
    display: inline-block;
  }
</style>

<center>
  <h2>Routes</h2>
  <form name="generate-routes" id="generate-routes" class="form" action="" method="post" onsubmit="return verifyForm()">
    <div class="spacer"></div>
    <input type="hidden" name="redirect" value="loading" />
    <button type="submit" name="submit" class="btn bw-btn center-block blue-hover inline">
      Generate new routes
    </button>
    <a class="btn bw-btn" data-toggle="collapse" href="#collapse-advanced" role="button" aria-expanded="false"
      aria-controls="collapse-advanced">
      Advanced options
    </a>
    <a href="/routes-spreadsheet" name="assign-all" class="btn bw-btn blue-hover inline">Download routes as
      spreadsheet</a>
    <a href="/driver_printout/all" class="btn bw-btn blue-hover inline">Export to PDF</a>
    <a class="btn bw-btn inline" data-toggle="collapse" href="#collapse-stats" role="button" aria-expanded="false"
      aria-controls="collapse-stats">
      Route statistics
    </a>
    <div class="spacer"></div>
    <div class="collapse-container">
      <div id="collapse-advanced" class="collapse inline">
        <div class="card text-left task-incomplete">
          <div class="card-header">
            Maximum number of routes:
            <input type="number" class="form-control-aesthetic col-md-2" value="100" id="num-vehicles"
              name="num-vehicles" />
            <small><a href="javascript:explainMaxRoutes()">What's this?</a></small>
          </div>
          <div class="card-header">
            Each delivery is equivalent to driving
            <input type="number" class="form-control-aesthetic col-md-3" value="1000" id="stop-conversion"
              name="stop-conversion" />
            meters
            <small><a href="javascript:explainStopConversion()">What's this?</a></small>
          </div>
          <div class="card-header">
            Global Span Cost
            <input type="number" class="form-control-aesthetic col-md-3" value="4000" id="global-span-cost"
              name="global-span-cost" />
            <small><a href="javascript:explainGSC()">What's this?</a></small>
          </div>
          <div class="card-header">
            Solution limit
            <input type="number" class="form-control-aesthetic col-md-3" value="10000" id="solution-limit"
              name="solution-limit" />
            <small><a href="javascript:explainSolutionLimit()">What's this?</a></small>
          </div>
          <div class="card-header">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="separateCities" value="separateCities"
                id="separateCities">
              <label class="form-check-label" for="separateCities">One city per route</label>
              <small><a href="javascript:explainSeparateCities()">What's this?</a></small>
            </div>
          </div>

        </div>
      </div>
      <div class="collapse inline" id="collapse-stats">
        <div class="card text-left task-incomplete">
          <div class="card-header">Number of routes: {{ stats['numRoutes'] }}</div>
          <div class="card-header">Average number of clients (mean): {{ stats['meanClients'] }}</div>
          <div class="card-header">Standard deviation of clients: {{ stats['stdevClients'] }}</div>
          <div class="card-header">Maximum number of clients: {{ stats['maxClients'] }}</div>
          <div class="card-header">Minimum number of clients: {{ stats['minClients'] }}</div>
          <div class="card-header">Average distance (mean): {{ stats['meanDist'] }} KM</div>
          <div class="card-header">Standard deviation of distance (mean): {{ stats['stdevDist'] }} KM</div>
          <div class="card-header">Maximum distance: {{ stats['maxDist'] }} KM</div>
          <div class="card-header">Minimum distance: {{ stats['minDist'] }} KM</div>
          <div class="card-header">Total distance: {{ stats['sumDist'] }} KM</div>
        </div>
      </div>
    </div>
  </form>

  <div class="spacer"></div>
  <div class="card-container">
    {% for route in routes %}
    <div class="card grid-card text-left task-incomplete">
      <div class="card-header">Route ID: {{ route['id'] }}</div>
      <div class="card-header">
        Length (bird's eye view distance): {{ route['length']|int /1000 }} KM <small>What's this?</small>
      </div>
      <div class="card-header">
        Priority: {{ route['weightedScore'] }}
        <small><a href="javascript:explainScore()">What's this?</a></small>
      </div>
      <div class="card-header">
        <a href="{{ route['google_maps'] }}">View Map</a>
      </div>
      <div class="card-header">
        <a href="/driver_printout/{{ route['id'] }}">View as PDF</a>
      </div>
      <div class="card-header">
        <a class="btn bw-btn" data-toggle="collapse" href="#collapse-route-{{ route['id'] }}" role="button"
          aria-expanded="false" aria-controls="collapse-route-{{ route['id'] }}">
          {% if route['userList']|length==1 %} Show 1 stop {% else %} Show {{
          route['userList']|length - 2 }} stops {% endif %}
        </a>
      </div>
      <div id="collapse-route-{{ route['id'] }}" class="collapse">
        {% for user in route['userList'] %}
        <div class="card bg-light" id="user-header-{{ user['id'] }}">
          <a class="btn btn-link" data-toggle="collapse" href="#collapse-user-{{ user['id'] }}" role="button"
            aria-expanded="false">
            {{ user['formattedAddress'] }}
          </a>
          <div id="collapse-user-{{ user['id'] }}" class="collapse">
            <table>
              <tr>
                <th>
                  Name:
                </th>
                <th>
                  {{ user['name'] }}
                </th>
              <tr>
                <th>
                  Email:
                </th>
                <th>
                  {{ user['email'] }}
                </th>
              </tr>
              <tr>
                <th>
                  Cell Phone:
                </th>
                <th>
                  {{ user['cellPhone'] }}
                </th>
              </tr>
              <tr>
                <th>
                  Last delivered:
                </th>
                <th>
                  {{ user['lastDelivered'] }}
                </th>
              </tr>
              <tr>
                <th>
                  Notes:
                </th>
                <th>
                  {{ user['instructions'] }}
                </th>
              </tr>
            </table>
            Move to route:
            <form name="move-user" method="POST" class="form">
              <input type="number" class="form-control-aesthetic col-md-3" value="{{ route['id'] }}" id="to-route"
                name="to-route" />
              <input type="hidden" name="move-user" value="{{ user['id'] }}">
              <input type="hidden" name="from-route" value="{{ route['id'] }}">
              <button type="submit" class="btn bw-btn">Select</a>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="card-header">
        Move all to route:
        <form name="move-user" method="POST" class="form">
          <input type="number" class="form-control-aesthetic col-md-3" value="{{ route['id'] }}" id="to-route"
            name="to-route" />
          <input type="hidden" name="move-route" value="{{ route['id'] }}">
          <button type="submit" class="btn bw-btn">Select</a>
        </form>
      </div>
      <div class="card-header">
        <form name="split-form" method="POST" class="form">
          <input type="hidden" name="split-route" value="{{ route['id'] }}">
          <button type="submit" class="btn bw-btn">Split route in half</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</center>
{% endblock content %}