{% block content %}
<html>

<body>
    <style>
        body,
        table.items {
            font-size: 20px;
            line-height: 40px;
        }

        table.items,
        th.items,
        td.items {
            border: 2px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
        table.barcodes {
            font-size: 20px;
        }

        .shipping-label {
            border: 2px solid black;
        }

        .container {
            padding-left: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

    </style>
    <br>
    
    {% for order in orders %}
    {% if not loop.last %}
    <div class="shipping-label" style="page-break-after: always;">
        {% else %}
        <div class="shipping-label">
            {% endif %}
            <div class="container">
                <div class="card-header">
                    <b>Order ID:</b> {{ orders[order]['id'] }}
                </div>
                <div class="card-header">
                    <b>Email:</b> {{ orders[order]['email'] }}
                </div>
                <div class="card-header">
                    <b>Home Address:</b> {{ orders[order]['address']}}
                </div>
                <div class="card-header">
                    <b>Cell phone number:</b> {{ orders[order]['cellPhone']}}
                </div>
                {% if orders[order]['instructions'] %}
                <div class="card-header">
                    <b>Special delivery instructions:</b> {{ orders[order]['instructions']}}
                </div>
                {% endif %}
                <div class="card-header">
                    {% if orders[order]['volunteerId'] != 'None' %}
                    <b>Assigned to:</b> {{ orders[order]['volunteerName'] }}
                    {% endif %}
                </div>
                <hr>
                <table class="items">
                    {% set vars = {'numItem': 1} %}
                    {% for item in orders[order]['itemsDict'] %}
                    {% if orders[order]['itemsDict'][item] != '0' %}
                        {% if vars.numItem % 4 == 1 %}
                            <tr class="items">
                        {% elif vars.numItem % 4 == 0 %}
                            <td class="items"><b>{{ item }}</b></td>
                            <td class="items">{{ orders[order]['itemsDict'][item] }}</td>
                            </tr>
                        {% else %}
                            <td class="items"><b>{{ item }}</b></td>
                            <td class="items">{{ orders[order]['itemsDict'][item] }}</td>
                        {% endif %}
                        {% if vars.update({'numItem': vars.numItem + 1}) %}{% endif %}
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
            <hr>
            <table class="barcodes">
                <tr>
                <td><img src="data:;base64,{{ barcode_to_base64(orders[order]['id']) }}"height="200px" width="200px"/></td>
                <td><img src="data:;base64,{{ qrcode_to_base64(orders[order]['id']) }}" height="200px" width="200px" /></td>
                </tr>
                <tr>
                <td>Use this barcode with a barcode scanner on the "all orders" page to mark this item as bagged.</td>
                <td>Scan this QR code with your phone and open the link to mark that this item has been delivered successfully. Alternatively, use the "volunteer dashboard."</td>
                </tr>
            </table>
        </div>
        {% endfor %}
</body>

</html>
{% endblock content %}