{% extends "base.html" %}
{% block content %}
<script defer type=text/javascript src="{{url_for('static', filename='scripts/all_users.js') }}"></script>
<center>
    <h2>All users</h2>
    <div class="spacer"></div>
    <a href='/master-spreadsheet' value="Download as spreadsheet" name="download-master-spreadsheet"
        class="btn bw-btn">Download as spreadsheet</a>
    <div class="spacer"></div>
    Total: {{ users | length }} users
    <div class="card-container">
    {% for user in users %}
    <div class="card bg-success grid-card text-left task-incomplete" id="card-{{ user['id'] }}" >
        {% if user['disabled'] %}
            <div class="card text-left bg-secondary">    
        {% else %}
            <div class="card text-left task-incomplete">
        {% endif %}
            <div class="card-header">
                Name: {{ user['name'] }}
            </div>
            <div class="card-header">
                Email: {{ user['email'] }}
            </div>
            <div class="card-header">
                Address: {{ user['formattedAddress']}}
            </div>
            <div class="card-header">
                Phone: {{ user['cellPhone']}}
            </div>
            {% if user['disabled'] %}
                <div class="card-header">
                    <form action="" method="POST">
                        <button type="submit" value="Delete user" name="delete-{{ user['id'] }}"
                            class="btn bw-btn bg-danger">Fully delete user</button>
                    </form>
                </div>
                <div class="card-header">
                    <form action="" method="POST">
                        <button type="submit" value="Enable user" name="enable-{{ user['id'] }}"
                            class="btn bw-btn">Enable user</button>
                    </form>
                </div>

            {% else %}
                <div class="card-header">
                    <form action="" method="POST">
                        <button type="submit" value="Disable user" name="disable-{{ user['id'] }}"
                            class="btn bw-btn">Disable user</button>
                    </form>
                </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
    </div>
</center>
{% endblock content %}