{% extends "base.html" %}
{% block content %}
<center>
    <h2>All orders</h2>
    <div class="spacer"> </div>
    Number of vehicles: <input type="number" class="form-control col-md-1" value="40" id="usr"> 
    <div class="spacer"> </div>
    <a href="/allorders?assignall=1" name="assign-all" class="btn bw-btn blue-hover">Generate new routes for this week</a><br>
    <div class="spacer"> </div>
    <a href="/routes-spreadsheet" name="assign-all" class="btn bw-btn blue-hover">Download spreadsheet of all routes</a>
    <div class="spacer"> </div>
    {% for user in users %}
    {% if user['bagged']=='1' and user['volunteerEmail'] %}
    <div class="card bg-success text-left task-incomplete">
        {% else %}
        <div class="card text-left task-incomplete">
            {% endif %}
            <div class="card-header">
                Name: {{ user['name'] }}
            </div>
            <div class="card-header">
                Email: {{ user['email'] }}
            </div>
            <div class="card-header">
                Address: {{ user['formattedAddress']}}
            </div>
            <div class="card-header">
                Phone: {{ user['cellPhone']}}
            </div>
            {% if user['bagged']!='1' %}
            <div class="card-header">
                <form action="" method="POST">
                    <button type="submit" value="Delete user" name="delete-{{ user['id'] }}"
                        class="btn bw-btn">Delete user</button>
                </form>
            </div>
            {% else %}
            {% endif %}
        </div>
        <br>
        {% endfor %}
</center>
{% endblock content %}